body {
  color: white;
  background-color: rgb(39, 39, 39);
  font: 14px "Consolas", Helvetica, Arial, sans-serif;
}

table {
  border: 1px solid rgb(224, 218, 218);
  width: 50%;
}

td {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
}

input, select {
  width: 50%;
  border-radius: 5px;
  padding: 4px;
}

.success {
  color: greenyellow;
}

.error {
  color: red;
}


.pageContainer {
  margin: 20px;
}

.wishTableContainer {
  margin-top: 20px;
}


.childrenTable > tr:hover {
  background-color: darkgrey;
}

